/* Importing webfonts */
/* (If you're learning CSS, you should disregard that) */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);


/* CSS reset rules */

html, body {
	height: 100%;
	min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', serif;
    color: rgba(0, 0, 0, 0.8);
}

/* h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
} */

header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    padding: 0 7rem;
    position: relative;
    z-index: 100;
}

header .header-nav-link
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .header-nav-link a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 1rem;
    font-family: 'Yeseva One', sans-serif;

}

/* Main */
main
{
    background-image: url(headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: -105px;
    display: flex;
    justify-content: center;
}

/* section */
section
{
    margin: 0;
}

/* main section */
main section
{
    text-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0 20rem;
    position: relative;
    top: 7rem;
}

main section div{
    padding: 1rem;
}

main section .section-div-button{
    width: 100px;
    height: 44px;
    top: 100px;
    align-self: center;
    
}

main section .section-div-button button
{
    background-color: #FF6565;
    color: white;
    min-width: 162px;
    min-height: 44px;
    border-color: #FF6565;
    border-radius: 3rem;
    font-family: 'Yeseva One', sans-serif;
    font-size: 12px;
}

main section div h1,h4
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main section .section-div-footer
{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    top: 209px;
}

/* Second section */
.second-section
{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    position: relative;
    top: -105px;
    justify-content: space-around;

}

.second-section .what-we-do
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 0 17rem;
}

.second-section .sound
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 5rem 0;
}

.second-section .sound .sound-content
{
    margin: 0 1rem;
    width: 8rem;
}

/* our result */
.our-result
{
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: url(headphones_hero_2.jpg);
    background-repeat: no-repeat;
    color: #ffff;
    position: relative;
    top: -105px;
    align-items: center;
    justify-content: space-around;
    padding: 11rem 0 0 0;
}
.our-result .our-result-header
{
    display: flex;
    align-self: center;
    margin: 0 3rem;
    text-align: center;
    border: 1px solid black;
}

.our-result .our-result-content
{
    display: flex;
    align-self: center;
    margin: 0 15rem;
    text-align: center;
     border: 1px solid black;
}

.our-result .pentagon-div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-evenly;
}

.our-result .pentagon
{
    background-image: url(pentagone.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4rem 3rem 4rem;
    flex-direction: column;
}
.our-result .pentagon h1
{
    font-size: 3rem;
    top: 1rem;
    position: relative;
    text-align: center;
}
.our-result .pentagon p
{
    font-size: small;
    bottom: 2rem;
    position: relative;
}

/* Contact us */
.contact-us
{
    border: 1px solid black;
    position: relative;
    top: -135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.contact-us .contact-us-div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    height: 373px;
    width: 335px;
}

.contact-us .contact-us-div .contact-us-input
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    width: 335px;
    height:fit-content;
}

.contact-us .contact-us-div .contact-us-input input
{
    padding: 0px ;
    margin: 1rem 0;
    border-style: hidden;
    height: 2rem;
}
.contact-us div .contact-us-button
{
    background-color: #FF6565;
    color: white;
    min-width: 162px;
    min-height: 44px;
    border-color: #FF6565;
    border-radius: 3rem;
    font-family: 'Yeseva One', sans-serif;
    font-size: 12px;
}